---
import { getCollection } from 'astro:content'
import MarqueePosts from '@/components/MarqueePosts.astro'
import Post from '@/components/Post.astro'
import Layout from '@/layouts/layout.astro'
import { css } from '@/styled-system/css'
import { flex, grid } from '@/styled-system/patterns'

const title = 'Home'

const posts = await getCollection('posts')
const maxPosts = posts.length / 2
const postsOne = posts.slice(0, Math.floor(maxPosts))
const postsTwo = posts.slice(Math.floor(maxPosts))
---

<Layout title={title}>
  <div
    class={flex({ direction: 'column', gap: 4, overflowX: 'hidden', pb: 6 })}
  >
    <MarqueePosts posts={postsOne} />
    <MarqueePosts posts={postsTwo} reversed={true} />
  </div>
  <div class={css({ w: 'full', maxW: '5xl', mx: 'auto', px: 4 })}>
    <div class={grid({ columns: { base: 1, md: 2, lg: 3 }, gap: 6, my: 8 })}>
      {posts.map((post) => <Post post={post} />)}
    </div>
  </div>
</Layout>
